{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="mailto:gbonanome@gmail.com">
    <i class="fa fa-envelope"></i>Contact me
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>
<li class="drawer-list-item">
  <a href="http://twitter.com/gbonanome" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://github.com/gbonanome" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://kintaroisland.wordpress.com" target="_blank">
    <i class="fa fa-flash"></i>Kintaro Island
  </a>
</li>
<li class="drawer-list-item" style="position:absolute;bottom:10px">
 <span style="position: relative;display: block;line-height:1.2em;padding: 5px 20px;-webkit-backface-visibility: hidden;">
    I'm sorry to write only in italian, but I like that language. I'd also like you to read the posts, so if you ask me will be my pleasure to translate what you want.
  </span>
</li>
